Repository LLNL/thicket, pull requests merged in 2023-08, with the labels that each got.

#75 Removing .set_title() from initial sns.heatmap call in display_heatmap.py
  thicket/stats/display_heatmap.py
Labels: area-stats, status-ready-for-review, type-internal-cleanup

#76 Thicket-specific tree renderer
  thicket/external/__init__.py
  thicket/external/console.py
  thicket/thicket.py
Labels: area-visualization, priority-normal, status-ready-for-review, type-feature

#51 Preference Redesign
  thicket/stats/preference.py
  thicket/stats/ttest.py
  thicket/statspreference.py
Labels: area-stats, priority-normal, status-ready-for-review, type-internal-cleanup
