Repository LLNL/thicket, pull requests merged in 2023-11, with the labels that each got.

#108 Fixes several bugs in reader_dispatch
  thicket/thicket.py
Labels: area-thicket, priority-high, status-ready-for-review, type-bug

#109 Remove Instances of Anti-Pattern When Type Checking
  thicket/tests/test_filter_stats.py
Labels: area-thicket, status-ready-for-review, type-bug

#102 Fixed bug in boxplot function
  thicket/stats/display_boxplot.py
Labels: area-stats, priority-normal, status-ready-for-review, type-bug

#111 Fixed bugs with example notebook, added tooltip.
  thicket/vis/scripts/topdown/stackedbars.js
  thicket/vis/static/topdown_bundle.js
Labels: area-visualization, priority-high, status-ready-for-review, type-bug

#112 adds external as a module to setup.py
  setup.py
Labels: area-deployment, priority-normal, status-ready-for-review, type-release

#85 Add GroupBy Class and Aggregation Mechanism
  thicket/groupby.py
  thicket/helpers.py
  thicket/tests/test_groupby.py
  thicket/thicket.py
Labels: area-thicket, priority-normal, status-ready-for-review, type-feature
