Repository LLNL/thicket, pull requests merged in 2023-12, with the labels that each got.

#115 Update Extra-P Unit Tests to Match Latest Release
  thicket/tests/test_model_extrap.py
Labels: area-tests, area-extrap, priority-high, status-ready-for-review, type-bug

#117 update output of jupyter notebooks in docs
  docs/extrap-with-metadata-aggregated.ipynb
  docs/thicket_rajaperf_clustering.ipynb
  docs/thicket_tutorial.ipynb
Labels: area-docs, priority-normal, status-ready-for-review, type-internal-cleanup

#120 Docs: Add output of query language notebook
  docs/extrap-with-metadata-aggregated.ipynb
  docs/index.rst
  docs/query_language.ipynb
  docs/stats-functions.ipynb
  docs/thicket_rajaperf_clustering.ipynb
  docs/thicket_tutorial.ipynb
Labels: area-docs, priority-normal, status-ready-to-merge, type-release

#121 Docs: Update docs notebooks, tutorial materials page
  docs/extrap-with-metadata-aggregated.ipynb
  docs/query_language.ipynb
  docs/stats-functions.ipynb
  docs/thicket_rajaperf_clustering.ipynb
  docs/thicket_tutorial.ipynb
  docs/tutorial_materials.rst
Labels: area-docs, priority-normal, status-ready-to-merge, type-release

#122 docs: render notebooks for 2023.3.1 release
  docs/extrap-with-metadata-aggregated.ipynb
  docs/query_language.ipynb
  docs/stats-functions.ipynb
  docs/thicket_rajaperf_clustering.ipynb
  docs/thicket_tutorial.ipynb
Labels: area-docs, priority-normal, status-ready-to-merge, type-release

#87 Add Testing for Display Functions
  thicket/stats/display_boxplot.py
  thicket/stats/display_heatmap.py
  thicket/stats/display_histogram.py
  thicket/tests/test_display.py
Labels: area-stats, priority-normal, status-ready-for-review, type-feature

#89 Improve Compatibility in concat_thickets
  thicket/ensemble.py
  thicket/utils.py
Labels: area-thicket, priority-normal, status-ready-for-review, type-feature

#103 Updated percentile.py to allow user defined percentiles, and separating calculated values into separate columns
  thicket/stats/percentiles.py
  thicket/tests/test_stats.py
Labels: area-stats, priority-normal, status-ready-for-review, type-bug, type-feature

#123 fix type checks in groupby
  thicket/groupby.py
Labels: area-thicket, priority-normal, status-ready-to-merge, type-internal-cleanup

#124 Docs: fix apidocs rendering
  docs/conf.py
  docs/environment.yml
  docs/generating_data.rst
  docs/requirements.txt
  docs/source/thicket.rst
  thicket/stats/preference.py
  thicket/thicket.py
Labels: area-docs, priority-normal, status-ready-to-merge, type-release
