Repository LLNL/thicket, pull requests merged in 2023-07, with the labels that each got.

#54 update readme to point to docs
  README.md
  docs/getting_started.rst
Labels: area-docs, priority-normal, status-ready-for-review, type-internal-cleanup

#53 Use Deterministic Hash Algorithm
  thicket/ncu.py
  thicket/thicket.py
Labels: area-thicket, priority-normal, status-ready-for-review, type-internal-cleanup

#57 Fill Performance DataFrame
  thicket/thicket.py
Labels: area-thicket, priority-normal, status-ready-for-review, type-feature

#58 One Profile per Hash
  thicket/model_extrap.py
  thicket/thicket.py
Labels: area-thicket, priority-normal, status-ready-for-review, type-internal-cleanup

#56 Return completely new Thicket when querying
  thicket/thicket.py
Labels: area-thicket, status-ready-for-review, type-bug

#52 change figs to match tree and dataframe
  docs/images/Table-Tree-Revised-gradien.png
  docs/images/ensembleframe.png
  docs/images/ql-original.png
Labels: area-docs, priority-normal, status-ready-for-review, type-release

#62 Bugfix reader_dispatch
  thicket/thicket.py
Labels: area-thicket, priority-high, status-ready-for-review, type-bug

#64 Fix unify_ensemble Bug
  thicket/thicket.py
Labels: area-thicket, priority-urgent, status-ready-for-review, type-bug

#65 Sort PerfData Index After columnar_join
  thicket/tests/test_columnar_join.py
  thicket/thicket.py
Labels: area-thicket, priority-normal, status-ready-for-review, type-bug

#68 StatsFrame MultiIndex Squash
  thicket/tests/test_query.py
  thicket/thicket.py
Labels: area-query-lang, priority-normal, status-ready-for-review, type-bug

#69 Adds automatic ownership test and fixes
  thicket/tests/test_groupby.py
  thicket/tests/test_query.py
  thicket/tests/utils.py
  thicket/thicket.py
Labels: area-tests, priority-normal, status-ready-for-review, type-bug

#70 Return Dictionary in groupby
  thicket/tests/test_groupby.py
  thicket/thicket.py
Labels: area-thicket, priority-normal, status-ready-for-review, type-feature

#67 StatsFrame Name Bugfix Level
  thicket/helpers.py
  thicket/tests/test_thicket.py
Labels: area-thicket, priority-normal, status-ready-for-review, type-bug

#63 Intersection Bugfix
  thicket/tests/test_intersection.py
  thicket/thicket.py
Labels: area-thicket, priority-high, status-ready-for-review, type-bug

#72 Fix tree
  thicket/thicket.py
Labels: area-thicket, priority-high, status-ready-for-review, type-bug

#71 Relax Verify Thicket Structure Check for Stats Functions
  thicket/stats/calc_boxplot_statistics.py
  thicket/stats/check_normality.py
  thicket/stats/correlation_nodewise.py
  thicket/stats/display_boxplot.py
  thicket/stats/display_histogram.py
  thicket/stats/maximum.py
  thicket/stats/mean.py
  thicket/stats/median.py
  thicket/stats/minimum.py
  thicket/stats/percentiles.py
  thicket/stats/std.py
  thicket/stats/variance.py
Labels: area-stats, priority-high, status-ready-for-review
