Repository LLNL/thicket, pull requests merged in 2023-05, with the labels that each got.

#21 temporarily disable codecov uploads
  .codecov.yml
  .coveragerc
  .github/workflows/unit-tests.yaml
  requirements.txt
Labels: area-ci, priority-normal, status-ready-for-review, type-release

#19 bugfix: get unique metadata on non-list values
  thicket/tests/test_thicket.py
  thicket/thicket.py
Labels: area-thicket, priority-normal, status-ready-for-review, type-bug

#17 Make Thicket Construction Print Statements Optional
  thicket/thicket.py
Labels: area-thicket, priority-normal, status-approved, type-internal-cleanup

#23 add logo, add to README and docs
  README.md
  docs/conf.py
  logo-notext.png
Labels: area-docs, priority-normal, status-ready-for-review, type-release

#30 Refactor test_query.py to Support Columnar Join Testing
  thicket/tests/test_columnar_join.py
  thicket/tests/test_query.py
Labels: area-tests, area-query-lang, priority-normal, status-ready-for-review, type-feature

#31 Refactor test_filter_stats to Support Columnar Join Testing
  thicket/tests/test_columnar_join.py
  thicket/tests/test_filter.py
Labels: area-tests, priority-normal, status-ready-for-review, type-feature

#32 Refactor Filter Tests
  thicket/tests/test_columnar_join.py
  thicket/tests/test_filter_metadata.py
  thicket/tests/test_filter_stats.py
Labels: area-tests, priority-normal, status-ready-for-review, type-internal-cleanup

#27 Adds GitHub Action to build and upload wheels and sdist
  .github/workflows/build_and_upload_wheels.yaml
Labels: area-ci, area-deployment, priority-normal, status-ready-for-review, type-feature

#33 Hotfix: Fixes the triggers for the Build and Upload Wheels Action
  .github/workflows/build_and_upload_wheels.yaml
Labels: area-ci, area-deployment, priority-urgent, status-ready-for-review, type-bug

#29 Update to aggregated statistical functions
  thicket/stats/calc_boxplot_statistics.py
  thicket/stats/check_normality.py
  thicket/stats/correlation_nodewise.py
  thicket/stats/maximum.py
  thicket/stats/mean.py
  thicket/stats/median.py
  thicket/stats/minimum.py
  thicket/stats/percentiles.py
  thicket/stats/std.py
  thicket/stats/variance.py
Labels: status-revisions-needed
