Repository LLNL/thicket, pull requests merged in 2023-09, with the labels that each got.

#43 add tests for stats
  thicket/tests/conftest.py
  thicket/tests/test_stats.py
Labels: area-stats, priority-normal, status-ready-for-review

#61 Refactor Ensemble Functions & Change Ensemble APIs
  thicket/__init__.py
  thicket/ensemble.py
  thicket/helpers.py
  thicket/tests/conftest.py
  thicket/tests/test_concat_thickets.py
  thicket/tests/test_groupby.py
  thicket/tests/test_intersection.py
  thicket/tests/test_stats.py
  thicket/tests/test_thicket.py
  thicket/thicket.py
Labels: area-thicket, priority-normal, status-ready-for-review, type-internal-cleanup

#86 Add Pandas Groupby Functionality to Stats Functions
  thicket/stats/calc_boxplot_statistics.py
  thicket/stats/check_normality.py
  thicket/stats/correlation_nodewise.py
  thicket/stats/maximum.py
  thicket/stats/mean.py
  thicket/stats/median.py
  thicket/stats/minimum.py
  thicket/stats/percentiles.py
  thicket/stats/std.py
  thicket/stats/variance.py
Labels: area-stats, priority-normal, status-ready-for-review, type-feature

#93 Update thicket docs notebooks
  docs/extrap-with-metadata-aggregated.ipynb
  docs/thicket_rajaperf_clustering.ipynb
  docs/thicket_tutorial.ipynb
Labels: area-docs, priority-high, status-ready-for-review, type-release

#94 fix readthedocs build
  .readthedocs.yml
Labels: area-docs, type-release
