Repository LLNL/thicket, pull requests merged in 2024-05, with the labels that each got.

#139 Adds code coverage through Codecov
  .github/workflows/unit-tests.yaml
  README.md
  codecov.yml
Labels: area-ci, area-tests, priority-normal, status-ready-for-review, type-feature

#160 Hotfix: moves re-exports of display_violinplot into the try-except-else guard
  thicket/stats/__init__.py
Labels: area-stats, priority-urgent, status-ready-for-review, type-bug

#161 Second attempt at adding Codecov support
  .github/workflows/unit-tests.yaml
  README.md
  codecov.yml
Labels: area-ci, priority-normal, status-ready-for-review, type-feature

#162 Fix Check in Extra-P Unit Test
  thicket/tests/test_model_extrap.py
Labels: area-tests, priority-normal, status-ready-for-review, type-bug

#156 Refinements to display_violinplot_thicket Function
  thicket/stats/display_violinplot.py
  thicket/tests/test_display.py
Labels: area-stats, priority-normal, status-ready-for-review, type-feature
