Repository LLNL/thicket, pull requests merged in 2024-07, with the labels that each got.

#191 Temporarily pin numpy Version Less Than 2.0.0
  requirements.txt
  setup.py
Labels: area-deployment, priority-high, status-approved

#173 Enable Filtering From List of Profiles
  thicket/tests/test_concat_thickets.py
  thicket/tests/test_filter_profile.py
  thicket/thicket.py
Labels: area-thicket, priority-normal, status-approved, type-feature

#181 Add Nodes in Slice Before Printing Tree
  thicket/ensemble.py
  thicket/thicket.py
  thicket/utils.py
Labels: area-visualization, priority-normal, status-approved, type-bug

#190 Fix Deepcopy Bug
  thicket/tests/test_copy.py
  thicket/thicket.py
Labels: area-thicket, priority-normal, status-approved, type-bug

#193 Fix intersection
  thicket/tests/test_intersection.py
  thicket/thicket.py
Labels: area-thicket, priority-normal, status-approved, type-bug

#194 Remove Optional Argument from _fill_perfdata
  thicket/utils.py
Labels: area-thicket, priority-normal, status-approved, type-internal-cleanup

#192 Add Root Node to Graph
  thicket/tests/test_add_root_node.py
  thicket/tests/test_get_node.py
  thicket/thicket.py
Labels: area-thicket, priority-normal, status-ready-for-review, type-feature

#197 Fix Indexing Issue in Tree for MultiIndex
  thicket/external/console.py
  thicket/tests/test_tree.py
  thicket/thicket.py
Labels: area-visualization, priority-normal, status-ready-for-review, type-bug

#198 Adds function that moves perf metric to statsframe
  thicket/tests/test_thicket.py
  thicket/thicket.py
Labels: area-thicket, priority-normal, status-ready-for-review, type-feature
