Repository LLNL/thicket, pull requests merged in 2024-06, with the labels that each got.

#171 Avoid FutureWarning in ensemble.py
  thicket/ensemble.py
Labels: area-thicket, priority-normal, status-ready-for-review, type-bug

#164 Check If filter_metadata Function Results in Empty Metadata Table
  thicket/tests/test_filter_metadata.py
  thicket/thicket.py
Labels: area-tests, area-thicket, priority-normal, status-ready-for-review, type-feature

#163 Improve Reader Error Messages
  thicket/tests/test_reader_dispatch.py
  thicket/thicket.py
Labels: area-tests, area-thicket, priority-normal, status-ready-for-review, type-feature

#174 print thicket tree by node order (hatchet nid) instead of alphabetically
  thicket/external/console.py
  thicket/tests/conftest.py
  thicket/tests/data/caliper-ordered/230525-151052_1930517_eWbGeyrlBOPT.cali
  thicket/tests/test_caliperreader.py
Labels: area-visualization, status-ready-for-review, type-bug

#175 Change Filter Shallow Copies to Deep Copies
  thicket/tests/test_filter_metadata.py
  thicket/tests/test_filter_stats.py
  thicket/thicket.py
Labels: area-thicket, priority-normal, status-approved, type-bug

#144 Add Pickle Reader/Writer Interface
  thicket/tests/test_pickle.py
  thicket/thicket.py
Labels: area-thicket, priority-normal, status-ready-for-review, type-feature

#157 Implementation of query_stats function
  thicket/stats/calc_boxplot_statistics.py
  thicket/stats/check_normality.py
  thicket/stats/correlation_nodewise.py
  thicket/stats/maximum.py
  thicket/stats/mean.py
  thicket/stats/median.py
  thicket/stats/minimum.py
  thicket/stats/percentiles.py
  thicket/stats/preference.py
  thicket/stats/scoring.py
  thicket/stats/stats_utils.py
  thicket/stats/std.py
  thicket/stats/variance.py
  thicket/tests/test_query_stats.py
  thicket/tests/test_stats.py
  thicket/thicket.py
Labels: area-thicket, priority-normal, status-ready-for-review, type-feature

#168 Add Option to Turn Off _fill_perfdata
  thicket/ensemble.py
  thicket/thicket.py
Labels: area-thicket, priority-normal, status-ready-for-review, type-feature

#179 Add New Positional Argument to Unit Test
  thicket/tests/test_reader_dispatch.py
Labels: area-tests, priority-normal, status-ready-for-review, type-bug

#180 Remove Print in Groupby
  thicket/thicket.py
Labels: area-thicket, priority-normal, status-ready-for-review, type-internal-cleanup

#170 Speedup thicket composition by performing profile unions in binary tree order
  thicket/ensemble.py
  thicket/thicket.py
Labels: area-thicket, priority-normal, status-approved, type-feature

#176 docs: built-in configuration page link extension
  docs/generating_data.rst
Labels: area-docs, priority-normal, status-approved, type-bug

#165 update stats notebook with new violin plot example
  docs/stats-functions.ipynb
Labels: area-docs, priority-normal, status-approved
