Repository LLNL/thicket, pull requests merged in 2024-04, with the labels that each got.

#130 Expand Check to All Inner Indices
  thicket/utils.py
Labels: area-utils, priority-normal, status-ready-for-review, type-bug

#127 Add per-node scoring functions
  thicket/stats/__init__.py
  thicket/stats/scoring.py
  thicket/tests/test_stats.py
Labels: area-stats, priority-normal, status-ready-for-review, type-feature

#141 Adds violin plot functionality along with testing
  thicket/stats/__init__.py
  thicket/stats/display_violinplot.py
  thicket/tests/test_display.py
  thicket/tests/test_stats.py
Labels: area-stats, priority-normal, status-ready-for-review, type-feature

#142 Improve Validation Checks
  thicket/ensemble.py
  thicket/tests/test_concat_thickets.py
  thicket/tests/test_from_statsframes.py
  thicket/thicket.py
  thicket/utils.py
Labels: area-thicket, priority-normal, status-ready-for-review, type-feature

#131 Add Progress Bar to Reader
  setup.py
  thicket/ensemble.py
  thicket/groupby.py
  thicket/tests/conftest.py
  thicket/tests/test_caliperreader.py
  thicket/tests/test_concat_thickets.py
  thicket/tests/test_copy.py
  thicket/tests/test_display.py
  thicket/tests/test_ensemble.py
  thicket/tests/test_filter_metadata.py
  thicket/tests/test_filter_stats.py
  thicket/tests/test_from_statsframes.py
  thicket/tests/test_groupby.py
  thicket/tests/test_intersection.py
  thicket/tests/test_model_extrap.py
  thicket/tests/test_query.py
  thicket/tests/test_stats.py
  thicket/tests/test_thicket.py
  thicket/thicket.py
Labels: area-thicket, priority-normal, status-ready-for-review, type-feature

#136 Prevent test failure if Extra-P is not installed
  thicket/tests/test_model_extrap.py
Labels: area-tests, area-extrap, priority-normal, status-ready-for-review, type-internal-cleanup

#145 Synchronize Profile Components
  setup.py
  thicket/helpers.py
  thicket/thicket.py
  thicket/utils.py
Labels: area-utils, area-thicket, priority-normal, status-ready-for-review, type-bug, type-feature

#148 Fix filter_stats
  thicket/thicket.py
  thicket/utils.py
Labels: area-thicket, priority-normal, status-ready-for-review, type-bug

#60 Improve NCU Reader
  thicket/ncu.py
  thicket/thicket.py
Labels: area-external, priority-normal, status-ready-for-review, type-feature

#154 Add support for both row and column MultiIndex in dialects
  .github/workflows/unit-tests.yaml
  pyproject.toml
  thicket/query.py
  thicket/tests/test_query.py
  thicket/thicket.py
Labels: area-query-lang, priority-normal, status-ready-for-review, type-feature
