Repository LLNL/thicket, pull requests merged in 2024-10, with the labels that each got.

#213 Confidence Interval Stats Function
  thicket/stats/__init__.py
  thicket/stats/confidence_interval.py
  thicket/tests/test_stats.py
Labels: priority-normal, status-ready-for-review, type-feature

#214 Adds a page to the documentation for publications
  docs/index.rst
  docs/publications.rst
Labels: area-docs, priority-normal

#202 Check And Remove Duplicates in chosen_metrics
  thicket/thicket.py
Labels: area-external, priority-normal, status-approved, type-feature

#216 Extend metadata_column_to_perfdata to Multiple Columns
  thicket/ensemble.py
  thicket/groupby.py
  thicket/tests/test_thicket.py
  thicket/tests/test_tree.py
  thicket/thicket.py
Labels: area-thicket, priority-normal, status-ready-for-review, type-feature

#206 Use Kwargs in from_caliperreader for RAJAPerf Complexities
  thicket/thicket.py
Labels: area-thicket, priority-normal, status-approved, type-bug

#196 Fix Bug in add_ncu
  thicket/thicket.py
Labels: area-thicket, priority-normal, status-approved, type-bug

#88 Timeseries and calc_temporal_pattern
  thicket/stats/__init__.py
  thicket/stats/calc_temporal_pattern.py
  thicket/tests/conftest.py
  thicket/tests/data/example-timeseries/cxx.cali
  thicket/tests/data/example-timeseries/mem_power_timeseries.cali
  thicket/tests/data/example-timeseries/memory_timeseries.cali
  thicket/tests/data/example-timeseries/timeseries.cali
  thicket/tests/test_timeseries.py
  thicket/thicket.py
Labels: area-stats, area-thicket, priority-normal, status-ready-for-review, type-feature

#201 NCU Reader Support for RAJA_CUDA and Lambda_CUDA
  thicket/ncu.py
  thicket/tests/test_ncu.py
  thicket/thicket.py
Labels: area-external, priority-normal, status-approved, type-bug

#218 bump for minor release 2024.2.1
  pyproject.toml
  thicket/version.py
Labels: priority-normal, type-release
