Repository LLNL/thicket, pull requests merged in 2024-09, with the labels that each got.

#203 Fix Bug When Reading Directories
  thicket/tests/test_reader_dispatch.py
  thicket/thicket.py
Labels: area-thicket, priority-high, status-approved, type-bug

#208 re-render notebooks for docs with no binder badge
  docs/extrap-with-metadata-aggregated.ipynb
  docs/groupby_aggregate.ipynb
  docs/index.rst
  docs/query_language.ipynb
  docs/stats-functions.ipynb
  docs/thicket_rajaperf_clustering.ipynb
  docs/thicket_tutorial.ipynb
Labels: area-docs, priority-normal, status-ready-to-merge, type-release

#177 Overhaul of Distance Based Scoring Functions
  thicket/stats/__init__.py
  thicket/stats/distance.py
  thicket/stats/scoring.py
  thicket/tests/test_stats.py
Labels: area-stats, priority-normal, status-ready-for-review, type-feature
