Repository LLNL/thicket, pull requests merged in 2024-03, with the labels that each got.

#128 Disable Node Ordering if All Profiles Don't Have It
  thicket/ensemble.py
  thicket/helpers.py
Labels: area-thicket, priority-normal, status-ready-for-review, type-bug

#125 update test data with newer rajaperf
  thicket/tests/conftest.py
  thicket/tests/data/XL_BaseCuda_0128_01048576/XL_BaseCuda_01048576_01.cali
  thicket/tests/data/XL_BaseCuda_0128_01048576/XL_BaseCuda_01048576_02.cali
  thicket/tests/data/XL_BaseCuda_0128_01048576/XL_BaseCuda_01048576_03.cali
  thicket/tests/data/XL_BaseCuda_0128_01048576/XL_BaseCuda_01048576_04.cali
  thicket/tests/data/XL_BaseCuda_0128_01048576/XL_BaseCuda_01048576_05.cali
  thicket/tests/data/XL_BaseCuda_0128_01048576/XL_BaseCuda_01048576_06.cali
  thicket/tests/data/XL_BaseCuda_0128_01048576/XL_BaseCuda_01048576_07.cali
  thicket/tests/data/XL_BaseCuda_0128_01048576/XL_BaseCuda_01048576_08.cali
  thicket/tests/data/XL_BaseCuda_0128_01048576/XL_BaseCuda_01048576_09.cali
  thicket/tests/data/XL_BaseCuda_0128_01048576/XL_BaseCuda_01048576_10.cali
  thicket/tests/data/example-cali/example-profile.cali
  thicket/tests/data/example-cali/example_all_base_seq_1.cali
  thicket/tests/data/example-cali/example_all_base_seq_2.cali
  thicket/tests/data/example-cali/example_all_base_seq_3.cali
  thicket/tests/data/mpi_scaling_cali/125_cores.cali
  thicket/tests/data/mpi_scaling_cali/216_cores.cali
  thicket/tests/data/mpi_scaling_cali/27_cores.cali
  thicket/tests/data/mpi_scaling_cali/343_cores.cali
  thicket/tests/data/mpi_scaling_cali/64_cores.cali
  thicket/tests/data/rajaperf/lassen/clang10.0.1_nvcc10.2.89_1048576/1/Base_CUDA-block_128.cali
  thicket/tests/data/rajaperf/lassen/clang10.0.1_nvcc10.2.89_1048576/1/Base_CUDA-block_256.cali
  thicket/tests/data/rajaperf/lassen/clang10.0.1_nvcc10.2.89_1048576/10/Base_CUDA-block_128.cali
  thicket/tests/data/rajaperf/lassen/clang10.0.1_nvcc10.2.89_1048576/2/Base_CUDA-block_128.cali
  thicket/tests/data/rajaperf/lassen/clang10.0.1_nvcc10.2.89_1048576/3/Base_CUDA-block_128.cali
  thicket/tests/data/rajaperf/lassen/clang10.0.1_nvcc10.2.89_1048576/4/Base_CUDA-block_128.cali
  thicket/tests/data/rajaperf/lassen/clang10.0.1_nvcc10.2.89_1048576/5/Base_CUDA-block_128.cali
  thicket/tests/data/rajaperf/lassen/clang10.0.1_nvcc10.2.89_1048576/6/Base_CUDA-block_128.cali
  thicket/tests/data/rajaperf/lassen/clang10.0.1_nvcc10.2.89_1048576/7/Base_CUDA-block_128.cali
  thicket/tests/data/rajaperf/lassen/clang10.0.1_nvcc10.2.89_1048576/8/Base_CUDA-block_128.cali
  thicket/tests/data/rajaperf/lassen/clang10.0.1_nvcc10.2.89_1048576/9/Base_CUDA-block_128.cali
  thicket/tests/data/rajaperf/lassen/clang10.0.1_nvcc10.2.89_2097152/1/Base_CUDA-block_128.cali
  thicket/tests/data/rajaperf/lassen/clang10.0.1_nvcc10.2.89_2097152/1/Base_CUDA-block_256.cali
  thicket/tests/data/rajaperf/quartz/gcc10.3.1_1048576/O3/1/Base_Seq-default.cali
  thicket/tests/data/rajaperf/quartz/gcc10.3.1_1048576/O3/2/Base_Seq-default.cali
  thicket/tests/data/rajaperf/quartz/gcc10.3.1_1048576/O3/3/Base_Seq-default.cali
  thicket/tests/data/rajaperf/quartz/gcc10.3.1_1048576/O3/4/Base_Seq-default.cali
  thicket/tests/data/rajaperf/quartz/gcc10.3.1_2097152/O3/1/Base_Seq-default.cali
  thicket/tests/test_caliperreader.py
  thicket/tests/test_concat_thickets.py
  thicket/tests/test_copy.py
  thicket/tests/test_display.py
  thicket/tests/test_filter_metadata.py
  thicket/tests/test_filter_stats.py
  thicket/tests/test_groupby.py
  thicket/tests/test_intersection.py
  thicket/tests/test_query.py
  thicket/tests/test_stats.py
  thicket/tests/test_thicket.py
  thicket/thicket.py
Labels: area-tests, priority-normal, type-internal-cleanup

#138 Replaces 'th.' for 'th.stats.' in various places
  docs/stats-functions.ipynb
  thicket/stats/ttest.py
Labels: area-stats, priority-normal, status-ready-for-review, type-internal-cleanup

#126 docs: update tree and performance table figures in user guide
  docs/getting_started.rst
  docs/images/appended_statsdf.png
  docs/images/empty_statsdf.png
  docs/images/ensembleframe.png
  docs/images/metadataframe.png
  docs/images/ql-original.png
  docs/thicket_structures.rst
  docs/tutorial_materials.rst
Labels: area-docs, priority-normal, status-ready-to-merge, type-release

#146 update notebooks with latest release of hatchet
  docs/extrap-with-metadata-aggregated.ipynb
  docs/index.rst
  docs/query_language.ipynb
  docs/stats-functions.ipynb
  docs/thicket_rajaperf_clustering.ipynb
  docs/thicket_tutorial.ipynb
  docs/user_guide.rst
Labels: area-docs
