Repository LLNL/thicket, pull requests merged in 2025-02, with the labels that each got.

#234 Skip test_display if seaborn not installed
  thicket/tests/test_display.py
Labels: area-tests, priority-normal, status-ready-for-review, type-bug

#230 Improve Error Message When Reading Invalid Files
  thicket/tests/test_reader_dispatch.py
  thicket/thicket.py
Labels: area-thicket, priority-normal, status-ready-for-review, type-feature

#226 Only Print Duplicates in Error Message
  thicket/utils.py
Labels: area-utils, priority-normal, status-ready-for-review, type-internal-cleanup

#220 Adds CI to run unit tests against Pandas 3.0
  .github/workflows/test-for-pandas-3.yml
Labels: area-ci, priority-normal, status-ready-for-review, type-feature

#229 Improve get_node
  thicket/tests/test_get_node.py
  thicket/thicket.py
Labels: area-thicket, priority-normal, status-ready-for-review, type-feature

#235 Add profile_idx_name as member to Thicket class
  thicket/ensemble.py
  thicket/groupby.py
  thicket/stats/calc_boxplot_statistics.py
  thicket/tests/data/example-json/user_ensemble.json
  thicket/tests/test_copy.py
  thicket/tests/test_filter_profile.py
  thicket/tests/test_from_statsframes.py
  thicket/tests/test_groupby.py
  thicket/tests/test_query.py
  thicket/tests/test_query_stats.py
  thicket/tests/test_thicket.py
  thicket/tests/utils.py
  thicket/thicket.py
Labels: area-tests, area-thicket, priority-normal, status-ready-for-review, type-feature
